<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <link rel="stylesheet" href="__PUBLIC__/assets/css/amazeui.min.css">
  <link rel="stylesheet" href="__LOVE_LIFE__/css/wap.css">
  <title>视频列表页</title>
  <style type="text/css">
  .am-gallery {
       padding: 0;
       margin: 0 auto;
   }
  </style>
</head>